.about__left--grid {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 480px;
    grid-template-rows: 
        rem(390px) 
        rem(100px) 
        auto;

    grid-template-areas: 
        "about photo"
        "about who"
        "about text";
   
    @include desktop() {
        grid-template-columns: 1fr;
        grid-template-rows: 
            rem(100px)
            rem(420px)
            rem(60px)
            1fr;
        
        grid-template-areas: 
            "about"
            "photo"
            "who"
            "text";
    }

    @include phone() {
        width: 100%;
    }
    /*
    grid-template-columns: 1fr;
    grid-template-rows: 
        rem(100px) 
        rem(420px) 
        rem(60px)
        1fr;
        
    grid-template-areas: 
        "about"
        "photo"
        "who"
        "text";
    */
}

.about__me {
    grid-area: about;
}

.about__photo {
    grid-area: photo;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.about__who {
    grid: who;
}

.about__text {
    grid-area: text;
}