.blog__content {
    margin: 0 auto;

    width: 90%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog__top {
    padding-top: rem(30px);
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.socials__list--blog {
    padding: 0;
}

.blog__header-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.triangle--blog {
    margin-bottom: -3px;
}

.tringle__img--blog .left {
    fill: #faf8f0;
}

.tringle__img--blog .right {
    fill: #faf8f0;
}

.blog__middle {
    width: 100%;
    background-color: #faf8f0;
}

.blog__container {
    width: 90%;
    max-width: rem(1366px);
    padding-top: rem(50px);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.blog__aside {
    padding-right: rem(100px);
}

.blog__right {
    flex-grow: 1;
}

.wrapper--blog {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -10;
}

.backround--blog {
    height: 486px;
    background-position-y: center;
}