.welcome__flex {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.welcome__top {
    overflow: hidden;
    width: 100%;
    text-align: right;

    @include bigDesktop() {

        max-width: 1800px;
    }

    @include desktop() {
        max-width: 1200px;
    }

    @include tablet() {
        max-width: 768px;

    }

    @include phone() {
        text-align: center;
        max-width: 320px;
    }

    align-self: center;
    flex: 1 0 auto;
}

.welcome__authorization {
    padding-right: 20px;
    padding-top: 20px;

    @include phone() {
        padding-right: 0;
    }

    display: inline-flex;
    justify-content: flex-end;
}

.welcome__middle {
    max-width: 100%;
    flex: 1 0 auto;
}

.weclome__down {
    flex: 0 0 auto;
    margin-bottom: 42px;
}