.welcome__flex {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.welcome__top {
    width: 100%;

    @include bigDesktop() {

        max-width: 1800px;
    }

    @include desktop() {
        max-width: 1200px;
    }

    @include tablet() {
        max-width: 768px;

    }

    @include phone() {

    }

    align-self: center;
    flex: 1 0 auto;
}

.welcome__authorization {
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.welcome__middle {
    flex: 1 0 auto;
}

.weclome__down {
    flex: 0 0 auto;
    margin-bottom: 42px;
}