.works__content {
    width: 100%;

    display: grid;

    grid-template-columns: 50% 50%;
    grid-template-rows: 
        1fr
        rem(185px)
        rem(525px) 
        rem(225px) 
        auto;

    grid-template-areas: 
        "top top"
        "caption caption"
        "loft big-image"
        "loft arrow-block"
        "bottom bottom";

    @include tablet() {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 
            1fr
            1fr
            1fr 
            1fr 
            1fr
            1fr;
        
        grid-template-areas:
            "top"
            "caption"
            "big-image"
            "loft"
            "arrow-block"
            "bottom";
    }

    @include phone() {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 
            rem(568px)
            rem(83px)
            rem(257px)
            rem(220px) 
            rem(90px)
            1fr;
        
        grid-template-areas:
            "top"
            "caption"
            "big-image"
            "loft"
            "arrow-block"
            "bottom";
    }
}

.works__top {
    grid-area: top;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.works__caption {
    grid-area: caption;
    background-color: #f8f9f5;
}

.works__loftblock {
    grid-area: loft;

    background-color: #ebefe2;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @include tablet() {
        align-items: center;
    }
}

.works__big-image {
    grid-area: big-image;

    background-color: #e1e4d7;
}

.works__img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.works__big-image--img {
    height: 90%;
}

.works__arrow-block {
    background-color: #fff;
    grid-area: arrow-block;

    .w-container {
        height: 100%;
    }
}

.works__bottom {
    grid-area: bottom;

    background-image: url("../images/bg/bottom.jpg");
    background-size: cover;
}