.works__content {
    display: flex;
    flex-direction: column;
}

.works__top {
    grid-area: top;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-top: rem(30px);
    @include phone() {
        padding-top: rem(16px);
    }
}

.works__socials {
    padding-left: rem(30px);
    @include phone() {
        padding-left: rem(9px);
    }
    grid-area: socials;
}

.works__triangle {
    grid-area: personal;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    z-index: 10;
    margin-bottom: -5px;
}