nav.fnav
    ul.fnav__list
        li.fnav__item
            a.fnav__link(href="works.html") Мои работы
        li.fnav__item
            a.fnav__link(href="about.html") Обо мне
        li.fnav__item
            a.fnav__link(href="blog.html") Блог    
        li.fnav__item
            a.fnav__link(href="login.html") Авторизация