.copyright__list {
    display: flex;
    flex-direction: row;
    @include phone {
        flex-wrap: wrap;
    }
}

.copyright__item {
    color: #fff;

    @include roboto('medium', 'normal');
    font-size: 16px;

    &:first-child {
        border-right: 2px solid #fff;
    }
    
    &:last-child {
        border-left: 2px solid #fff;

        @include phone {
            border-left: none;
        }
    }
}

.copyright__text {
    padding-left: 6px;
    padding-right: 6px;
}