.gallery {
    display: grid;
    width: 100%;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;

    grid-template-areas: 
        "top top"
        "down-left down-right";
}

.gallery__top {
    grid-area: top;
}

.gallery__left {
    grid-area: down-left;
}

.gallery__right {
    grid-area: down-right;
}

.gallery__arrow {
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
    top: 0;
    left: 0;

    z-index: 20;    
}

.gallery__arrow--img {
    fill: #fff;

    width: rem(30px);
    height: rem(45px);
}