.person__navigation {
    width: 100%;
}

.person-nav__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-between;

    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    overflow: hidden; 
}

.person-nav__item {

    flex-grow: 1;
    text-align: center;

    &:first-child {
        border-right: 2px solid #a0b99e;
    }

    &:last-child {
        border-left: 2px solid #a0b99e
    }
}

.person-nav__link {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 45px;
    color: $color1;
    background-color: $color11;

    text-decoration: none; 

    transition: .3s;

    &:hover {
        background-color: $color12;
    }
}