.radiobtn {
    display: flex;
    flex-direction: row;
}

.radiobtn__radio {
    position: absolute;
    z-index: -10;
    opacity: 0;
    margin: 10px 0 0 7px;

    &:checked + .radiobtn__text:after{
        opacity: 1;
    }

    &:checked + .radiobtn__text {
        color: #537c4c;
    }
}

.radiobtn__text {
    position: relative;
    padding: 0 0 0 35px;
    cursor: pointer;

    color: #dfe1e0;

    &:before {
        content: '';
        position: absolute;
        top: -3px;
        left: 0;
        width: 20px;
        height: 20px;
        border: 1px solid #b2b6b5;
        border-radius: 50%;
        background: #fff;
    }

    &:after {
        content: '';
        position: absolute;
        top: 4px;
        left: 7px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #6c9c5a;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
        opacity: 0;
        transition: .3s;
    }
}