.socials__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.socials__item {
    padding-left: 14px;
    padding-right: 14px;
}

.socials__link {
    display: block;
    color: #fff;
}

.socials__icon {
    width: 32px;
    height: 32px;
}

.socials__icon--about {
    fill: #fff;

    transition: .3s;

    &:hover {
        fill: #4e8839;
    }
}