extends ../main.layout.pug

include ../common/_triangle.pug
include ../common/_footer.pug
include ../common/_footer-green.pug

block content
    .about__container
        .about__top
            .about__socials
                .blog__socials
                    ul.socials__list.socials__list--blog
                        li.socials__item
                            a(href="https://vk.com/" class="socials__link")
                                svg(viewBox="0 0 35 35" class="socials__icon socials__icon--about")
                                    use(xlink:href="./images/icons/sprite.svg#vk")
                        li.socials__item    
                            a(href="https://github.com/anclonj" class="socials__link")
                                svg(viewBox="0 0 35 35" class="socials__icon socials__icon--about")
                                    use(xlink:href="./images/icons/sprite.svg#github")
                        li.socials__item    
                            a(href="https://www.linkedin.com/" class="socials__link")
                                svg(viewBox="0 0 35 35" class="socials__icon socials__icon--about")
                                    use(xlink:href="./images/icons/sprite.svg#in")
            .about__hamburger
                .hamburger.hamburger--about 
                    a.hamburger__btn.hamburger__btn--blog(href="")
                        svg.hamburger__img.hamburger__img--blog
                            use(xlink:href="./images/icons/sprite.svg#hamburger")
        .about__person
            .about__person--center
                .person__block
                    .person__avatar
                        i.person__avatar--img
                    .person__name 
                        span.person__name--text Александр Иванов
                    .person__caption 
                        span.person__caption--text Личный сайт веб разработчика
                    .person__arrow
                        a.person__arrow--link(href="#")
                            svg.person__arrow--img
                                use(xlink:href="./images/icons/sprite.svg#portf_arrow_down")
            .about__person--center
                svg.about__person--bg
                    use(xlink:href="./images/icons/sprite.svg#portfolio_header")
        .about__triangle
            +triangle("about")
        .about__left
            .about__content
                .about__left--grid
                    .about__me
                        .about__personal
                            span.about__personal--text Обо мне
                            .about__personal--hr
                        .about__personal.bg
                    .about__photo
                        i.about__photo--img
                    .about__who
                        .about__personal
                            span.about__personal--text.about__personal--mini Кто я
                            .about__personal--hr.about__personal--hr-mini
                    .about__text
                        .about__text--content
                            p 
                                | Я веб разработчик из Новосибирска. Мне 27 лет. 
                                | Я занимаюсь разработкой современных сайтов и 
                                | приложений. Мне нравится делать интересные и 
                                | современные проекты.
                            p
                                | Этот сайт я сделал в рамках обучения в Школе 
                                | онлайн образования LoftSchool. Чуть позже я 
                                | освежу в нём свой контент. А пока посмотрите, 
                                | как тут всё классно и красиво!
        .about__right
            .about__content
                .about__right--grid
                    .about__skills
                        .about__personal
                            span.about__personal--text.about__personal--skills Кто я
                            .about__personal--hr.about__personal--hr-skills
                    .panel__text
                        p  
                            | Больше всего меня привлекет Frontend разработка, 
                            | но я также знаком и могу решать не сложные задачи 
                            | на Backend. Но давайте по порядку.
                    .about__skills
        .about__map#map
        .about__foter
            .footer
                +footer("about")
                +footerGreen("about")
    .background.background--about
