extends ../main.layout.pug

block content
    .background
        .welcome__flex
            section.welcome__top
                .welcome__authorization
                    a.button.button--welcome-auth(href="login.html") Авторизироваться
            main.welcome__middle
                .box.person__box
                    .box__backround
                    group.box__group
                        .box__block.person__block
                            .person__avatar
                                i.person__avatar--img
                            .person__name Александр Иванов
                            .person__caption Личный сайт веб разработчика
                            ul.socials__list
                                li.socials__item
                                    a(href="https://vk.com/" class="socials__link")
                                        svg(viewBox="0 0 35 35" class="socials__icon socials__icon--about")
                                            use(xlink:href="./images/icons/sprite.svg#vk")
                                li.socials__item    
                                    a(href="https://github.com/anclonj" class="socials__link")
                                        svg(viewBox="0 0 35 35" class="socials__icon socials__icon--about")
                                            use(xlink:href="./images/icons/sprite.svg#github")
                                li.socials__item    
                                    a(href="https://www.linkedin.com/" class="socials__link")
                                        svg(viewBox="0 0 35 35" class="socials__icon socials__icon--about")
                                            use(xlink:href="./images/icons/sprite.svg#in")
                        nav.box__navigation
                            ul.box-nav__list
                                li.box-nav__item
                                    a.box-nav__link(href="works.html") Мои работы
                                li.box-nav__item
                                    a.box-nav__link(href="about.html") Обо мне
                                li.box-nav__item
                                    a.box-nav__link(href="blog.html") Блог
            section.weclome__down
                ul.copyright__list
                    li.copyright__item 
                        span.copyright__text &copy; Александр Иванов
                    li.copyright__item
                        ul.copyright__list--down
                            li.copyright__item 
                                span.copyright__text Создано с любовью в Loftschool
                            li.copyright__item
                                span.copyright__text 2018