extends ../main.layout.pug

include ../common/_header-top.pug
include ../common/_person-avatar.pug
include ../common/_person-name.pug
include ../common/_header-arrow.pug
include ../common/_block-caption.pug
include ../common/_mini-group.pug

block content
    .works__content
        .works__top
            .w-container
                +header("works")
                group.personal__block
                    .personal__block--up
                        +person("works")
                        +name("works")
                    .personal__block--down
                        .personal__arrow
                            +arrow("works")
        .works__caption
            .w-container
                +bigTitle("Мои работы", "top")
        .works__big-image
        .works__loftblock
            include ../common/_loftschool.pug
        .works__arrow-block
            .w-container
                .works__flex
                    +mini("up")
                    +mini("down")
        .works__bottom
            include ./works/_works-bottom.pug
    .background.background--about
