extends ../main.layout.pug

include ../common/_triangle.pug
include ../common/_footer.pug
include ../common/_footer-green.pug

block content
    .w-container
        .works__content
            .works__top
                .works__socials
                    ul.socials__list.socials__list--blog
                        li.socials__item
                            a(href="https://vk.com/" class="socials__link")
                                svg(viewBox="0 0 35 35" class="socials__icon socials__icon--about")
                                    use(xlink:href="./images/icons/sprite.svg#vk")
                        li.socials__item    
                            a(href="https://github.com/anclonj" class="socials__link")
                                svg(viewBox="0 0 35 35" class="socials__icon socials__icon--about")
                                    use(xlink:href="./images/icons/sprite.svg#github")
                        li.socials__item    
                            a(href="https://www.linkedin.com/" class="socials__link")
                                svg(viewBox="0 0 35 35" class="socials__icon socials__icon--about")
                                    use(xlink:href="./images/icons/sprite.svg#in")
                .hamburger.hamburger--blog 
                    a.hamburger__btn.hamburger__btn--blog(href="")
                        svg.hamburger__img.hamburger__img--blog
                            use(xlink:href="./images/icons/sprite.svg#hamburger")
            .works__triangle
                +triangle("works")
            .works__title
            .works__middle
            .works__about-talk
            .works__footer  
                +footer("works")
                +footerGreen("works")
    .background.background--about