.green {
    width: 100%;
    height: rem(38px);

    @include phone() {
        height: rem(58px);
    }

    &__bg {
        position: relative;

        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-color: #82ab73;
        opacity: .85;

        z-index: 10;
    }
}

.green__content {
    display: flex;
    
    width: 100%;
    height: 100%;
    position: relative;
    top: -100%;

    z-index: 20;
}