.article {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: rem(490px);

    text-align: left;

    @include phone() {
        text-align: center;
    }
}

.article__contnet {
    display: inline;
    @include roboto("light", "italic");
    color: #b1b3b4;

    @include phone() {
        font-size: rem(14px);
    }
}

.article__author {
    @include roboto("bold", "italic");
    color: #b7b9b9;

    @include phone() {
        font-size: rem(14px);
    }
}