@font-face {
    font-family: 'Webissimo';
    src: url('../fonts/sansus-webissimo-regular-webfont.woff2') format('woff2'),
         url('../fonts/sansus-webissimo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@mixin webissimo() {
    font-family: "Webissimo";
}