@font-face {
    font-family: 'Webissimo';
    src: url('sansus-webissimo-regular-webfont.woff2') format('woff2'),
         url('sansus-webissimo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}