mixin bigTitle(text, subClass)
    group(class=`big-title big-title--${subClass}`)
        div(class=`big-title__title big-title__title--${subClass}`)
            span(class='big-title__title--text')= text
            div(class=`big-title__hr big-title__hr--${subClass}`)