mixin footerCopyright()
    .w-container
        ul.copyright__list.copyright__list--footer
            li.copyright__item 
                span.copyright__text &copy; Александр Иванов
            li.copyright__item 
                span.copyright__text Создано с любовью в Loftschool
            li.copyright__item
                span.copyright__text 2018