include _footer-copyright.pug

mixin footerGreen(subClass)
    div(class=`green green__${subClass}`)
        div(class=`green__bg green__bg--${subClass}`)
        div(class=`green__content green__content--${subClass}`)
            +footerCopyright("green")