mixin footer(subClass, opacity)
    div(class=`footer footer--$(subClass)`)
        .footer--center.footer__gray
            .w-container
                ul.upfooter
                    li.upfooter__layout.upfooter__mini
                        span.upfooter__mini--text  
                            | Этот сайт я сделал в рамках обучения
                            | в Школе онлайн образования LoftSchool. 
                    li.upfooter__layout.upfooter__layoute--lefta
                        nav.footer__nav
                            ul.fnav__list
                                li.fnav__item
                                    a.fnav__link(href="works.html") Мои работы
                                li.fnav__item
                                    a.fnav__link(href="about.html") Обо мне
                                li.fnav__item
                                    a.fnav__link(href="blog.html") Блог    
                                li.fnav__item
                                    a.fnav__link(href="login.html") Авторизация
                        .blog__socials.blog__socials--footer
                                    ul.socials__list.socials__list--blog
                                        li.socials__item
                                            a(href="https://vk.com/" class="socials__link")
                                                svg(viewBox="0 0 35 35" class="socials__icon socials__icon--about")
                                                    use(xlink:href="./images/icons/sprite.svg#vk")
                                        li.socials__item    
                                            a(href="https://github.com/anclonj" class="socials__link")
                                                svg(viewBox="0 0 35 35" class="socials__icon socials__icon--about")
                                                    use(xlink:href="./images/icons/sprite.svg#github")
                                        li.socials__item    
                                            a(href="https://www.linkedin.com/" class="socials__link")
                                                svg(viewBox="0 0 35 35" class="socials__icon socials__icon--about")
                                                    use(xlink:href="./images/icons/sprite.svg#in")
                    li.upfooter__layout
                        .upfooter__article
                            article.article__contnet 
                                | Всегда пишите код так, будто сопровождать его будет 
                                | склонный к насилию психопат, который знает, где вы живете.
                            span.article__author
                                | — Martin Golding
            div(class=`footer__gray--bg footer__gray--${subClass}`)            