include _footer-green.pug

mixin footer(subClass)
    footer(class=`footer footer--${subClass}`)
        div(class=`footer__gray footer__gray--${subClass}`)
            .footer__gray--bg
            .footer__gray--content
                .w-container
                    ul.footer__gray--list
                        li.footer__gray--item
                            include ./footer/_site-about.pug
                        li.footer__gray--item
                            include ./footer/_footer-nav.pug
                        li.footer__gray--item
                            include ./footer/_footer-article.pug
        div(class=`footer__green footer__green--${subClass}`)
            +footerGreen("footer")