.loftschool
    .loftschool__caption
        span.loftschool__caption--text
            | Сайт школы онлайн
            | Образования
        .loftschool__caption--hr
    .loftschool__programming
        span.loftschool__programming--text
            | HTML, CSS, JAVASCRIPT
    .loftschool__button
        a.loftschool__button--container(href="https://loftschool.com/")
            svg.loftschool__button--img(viewBox="0 0 25 25")
                use(xlink:href="./images/icons/sprite.svg#link")
            span.loftschool__button--text Посмотреть сайт