mixin name(subClass)
    div(class=`name name--${subClass}`)
        div(class=`name__caption name__caption--${subClass}`)
            span.name__caption--span
                | Александр Иванов
        div(class=`name__description name__description--${subClass}`)
            span.name__description--span
                | Личный сайт веб разработчика