block variables

div(class=`transparentpanel transparentpanel--${subClass}`)
    div(class=`transparentpanel__bg tranparentpanel__bg--${subClass}`)
    div(class=`transparentpanel__content transparentpanel__content--${subClass}`)
        block content